<div class="my-special-component">
    <section class="pt-5">
        <div class="form-container">


            <h2 class="mb-4 text-primary fw-bold d-flex align-items-center">
                <i class="fa-solid fa-key fa-2x text-primary mb-2"></i>
                تغير كلمه السر
            </h2>

            <form [formGroup]="formGroup" (ngSubmit)="submit()">

                <div class="form-group position-relative">
                    <label for="currentPassword">كلمة المرور الحالية</label>

                    <input [type]="showCurrentPassword ? 'text' : 'password'" id="currentPassword" class="form-control"
                        formControlName="currentPassword" [class.is-valid]="_currentPassword?.valid"
                        [class.is-invalid]="_currentPassword?.invalid && _currentPassword?.touched">

                    <!-- أيقونة الإظهار/الإخفاء -->
                    <span class="toggle-password position-absolute end-0 top-50 translate-middle-y me-2"
                        (click)="showCurrentPassword = !showCurrentPassword">
                        <i class="fa-solid" [ngClass]="showCurrentPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
                    </span>

                    <!-- رسالة الخطأ -->
                    @if (_currentPassword?.hasError('required') && _currentPassword?.touched) {
                    <span class="text-danger">كلمة المرور مطلوبة</span>
                    }
                </div>





                <div class="form-group position-relative">
                    <label for="newPassword">كلمة المرور الجديدة</label>

                    <input [type]="showNewPassword ? 'text' : 'password'" id="newPassword" class="form-control"
                        formControlName="newPassword" [class.is-valid]="_newPassword?.valid"
                        [class.is-invalid]="_newPassword?.invalid && _newPassword?.touched">

                    <span class="toggle-password position-absolute end-0 top-50 translate-middle-y me-2"
                        (click)="showNewPassword = !showNewPassword">
                        <i class="fa-solid" [ngClass]="showNewPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
                    </span>

                    <!-- رسائل التحقق -->
                    @if (_newPassword?.hasError('required') && _newPassword?.touched) {
                    <span class="text-danger">كلمة المرور مطلوبة</span>
                    }
                    @else if (_newPassword?.hasError('pattern') && _newPassword?.touched) {
                    <span class="text-danger">
                        كلمة المرور يجب أن تحتوي على رقم واحد على الأقل، وحرف خاص (#$@!.),
                        وأن تكون 8 أحرف على الأقل.
                    </span>
                    }
                </div>

                <div class="form-group position-relative">
                    <label for="passwordConfirmation">تأكيد كلمة المرور</label>

                    <input [type]="showPasswordConfirmation ? 'text' : 'password'" id="passwordConfirmation"
                        class="form-control" formControlName="passwordConfirmation"
                        [class.is-valid]="_passwordConfirmation?.valid" [class.is-invalid]="_passwordConfirmation?.invalid && _passwordConfirmation?.touched 
                      || (formGroup.errors?.['mismatch'] && _passwordConfirmation?.touched)">

                    <!-- أيقونة الإظهار/الإخفاء -->
                    <span class="toggle-password position-absolute end-0 top-50 translate-middle-y me-2"
                        (click)="showPasswordConfirmation = !showPasswordConfirmation">
                        <i class="fa-solid" [ngClass]="showPasswordConfirmation ? 'fa-eye-slash' : 'fa-eye'"></i>
                    </span>

                    <!-- رسائل الأخطاء -->
                    @if (_passwordConfirmation?.hasError('required') && _passwordConfirmation?.touched) {
                    <span class="text-danger">كلمة المرور مطلوبة</span>
                    }
                    @if (formGroup.errors?.['mismatch'] && _passwordConfirmation?.touched) {
                    <span class="text-danger">كلمة المرور غير متطابقة</span>
                    }
                </div>



                <div class="form-group">
                    <button class="btn btn-info w-100" [disabled]="formGroup.invalid">
                        حفظ <i class="fa fa-sign-in"></i>
                    </button>
                    
                </div>


            </form>
        </div>




    </section>


</div>